<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>th.group-maturite-jours {
      font-size: .875rem;
    }

    .day-links .v-chip a {
      color: black;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-tabs>
          <v-tab key="stabilitywarrants">Stability warrants</v-tab>
          <v-tab key="portfolio" v-show="portfolio.length > 0">Portfolio</v-tab>
          <v-tab key="debug">Debug</v-tab>

          <v-tab-item key="stabilitywarrants" v-bind:class="[filterperf ? '' : 'orange lighten-2']">
            <v-container fluid>
              <v-row no-gutters>
                <v-col cols="4">
                  <h1 class="text-subtitle-1">
                    Sous-jacent
                  </h1>
                  <v-chip-group v-model="filtersousjacent" column active-class="primary--text">
                    <v-chip filter value="CAC 40" key="CAC 40">CAC 40</v-chip>
                    <v-chip filter value="DAX" key="DAX">DAX</v-chip>
                    <v-chip filter value="S&P 500" key="S&P 500">S&P 500</v-chip>
                    <v-chip filter value="Nasdaq-100" key="Nasdaq-100">NASDAQ 100</v-chip>
                  </v-chip-group>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="3">
                  <h1 class="text-subtitle-1">
                    Émetteur
                  </h1>
                  <issuer-filter v-model="filterissuers" :warrants="warrants"></issuer-filter>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="5">
                  <h1 class="text-subtitle-1">
                    Maturité
                  </h1>
                  <maturity-filter v-model="filtermaturity" :warrants="warrants"></maturity-filter>
                </v-col>
                <v-spacer></v-spacer>

                <!--
                <v-select v-model="filtersousjacent" :items="sousjacents" label="Sous-jacent" solo dense>
                </v-select>-->
              </v-row>
              <v-row no-gutters>
                <v-col cols="2">
                  <h1 class="text-subtitle-1">
                    Filtre perf%
                  </h1>
                  <v-switch v-model="filterperf" label="17% < Borne < 12%" style="margin-top:0px" color="success">
                  </v-switch>
                </v-col>
                <v-col cols="2">
                  <h1 class="text-subtitle-1">
                    Filtre Vente
                  </h1>
                  <v-switch v-model="filtervente" label="Vente < 9,6€" style="margin-top:0px" color="success">
                  </v-switch>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="ppArray.length > 0" v-model="ppArray[0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="ppArray.length > 0" v-model="ppArray[1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <v-col>
                  <table-stabilitywarrants :headers="headers" :items="filteredWarrants"
                    :sort-by="['maturitejours','perfmin']" :sort-desc="[false,false]"
                    :footer-props="{ 'items-per-page-options': [-1, 50, 100] }"
                    v-bind:class="[filterperf ?  '':'orange lighten-4']"></table-stabilitywarrants>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
          <v-tab-item key="portfolio">
            <v-container fluid>
              <v-row no-gutters>
                <pivot-point
                  v-if="isPPLoaded && portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'CAC 40').length > 0"
                  v-model="pivotpoint['CAC 40'][0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point
                  v-if="isPPLoaded && portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'CAC 40').length > 0"
                  v-model="pivotpoint['CAC 40'][1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point
                  v-if="isPPLoaded && portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'DAX').length > 0"
                  v-model="pivotpoint['DAX'][0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point
                  v-if="isPPLoaded && portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'DAX').length > 0"
                  v-model="pivotpoint['DAX'][1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <v-col>Total +/- latentes: <span
                    :style="getPvStyle(capitalGains.pvlatentes)">{{capitalGains.pvlatentes}}</span>
                </v-col>
                <v-col>Total +/- potentielles: <span
                    :style="getPvStyle(capitalGains.pvpotentielles)">{{capitalGains.pvpotentielles}}</span>
                </v-col>
                <v-col>Montant total: {{portfolioWarrantsTotalAmount}}</span>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col>
                  <table-portfolio :headers="portfolioHeaders" :items="portfolioWarrants"
                    :sort-by="['maturitejours', 'sous-jacent', 'perfmin']" :sort-desc="[false, false, false]"
                    :footer-props="{ 'items-per-page-options': [-1, 50, 100] }">
                  </table-portfolio>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
          <v-tab-item key="debug">
            <v-container>
              <v-row no-gutters>
                <links v-model="dates" :data="false"></links>
                <links v-model="dates" :data="true" :portfolio="portfolioWarrants"></links>
              </v-row>
              <v-row>
                <v-col>
                  <h1 class="text-subtitle-1">
                    <v-icon color="gray darken-2">mdi-credit-card-refresh</v-icon>&nbsp;Import du compte titres
                  </h1>
                  <v-textarea v-model="boursoPortfolio" label="Texte copier/coller"></v-textarea>
                  <v-btn @click="extractPortfolioFromText">Importer les valeurs</v-btn>
                  <v-file-input hide-input accept=".csv,.txt" label="Export des positions au format csv"
                    v-model="chosenFile" @change="loadPortfolio" style="display: inline-block;">
                  </v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
        </v-tabs>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue2-sfc-loader.min.js"></script>
  <script src="vuejs/src/components/table-mixin.js"></script>
  <script src="stabilitywarrants.js"></script>


</body>

</html>