<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>th.group-maturite-jours {
      font-size: .875rem;
    }

    .day-links .v-chip a {
      color: black;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-tabs>
          <v-tab key="stabilitywarrants">Stability warrants</v-tab>
          <v-tab key="portfolio" v-show="portfolio.length > 0">Portfolio</v-tab>
          <v-tab key="debug">Debug</v-tab>

          <v-tab-item key="stabilitywarrants">
            <v-container fluid>
              <v-row no-gutters>
                <maturity-filter v-model="filtermaturity" :warrants="warrants"></maturity-filter>
                <v-switch v-model="filterperf" label="Perf Max > 12% & Perf Min > 15%">
                </v-switch>
                <v-select v-model="filtersousjacent" :items="sousjacents" label="Sous-jacent" solo dense>
                </v-select>
                <issuer-filter v-model="filterissuers" :warrants="warrants"></issuer-filter>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="ppArray.length > 0" v-model="ppArray[0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="ppArray.length > 0" v-model="ppArray[1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <v-col>
                  <v-data-table :headers="headers" :items="filteredWarrants"
                    :sort-by="['sous-jacent', 'plage','ecartcibleabs']" :sort-desc="[false, true, false]"
                    :footer-props="{'items-per-page-options': [-1,50,100]}" multi-sort dense class="elevation-1"
                    mobile-breakpoint="100">
                    <template v-slot:item.isin="{item}">
                      <a :href="bourso(item)" target="_blank">{{item.isin.substring(0,6)}}<br
                          class="hidden-lg-and-up">{{item.isin.substring(6)}}</a>
                    </template>
                    <template v-slot:item.perfmin="{item}">
                      <span :style="getPerfStyle(item.perfmin)">{{item.perfmin}}</span>
                    </template>
                    <template v-slot:item.perfmax="{item}">
                      <span :style="getPerfStyle(item.perfmax)">{{item.perfmax}}</span>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
          <v-tab-item key="portfolio">
            <v-container fluid>
              <v-row no-gutters>
                <pivot-point v-if="portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'CAC 40').length > 0"
                  v-model="pivotpoint['CAC 40'][0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'CAC 40').length > 0"
                  v-model="pivotpoint['CAC 40'][1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'DAX').length > 0"
                  v-model="pivotpoint['DAX'][0]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <pivot-point v-if="portfolioWarrants.filter(warrant => warrant['sous-jacent'] == 'DAX').length > 0"
                  v-model="pivotpoint['DAX'][1]"></pivot-point>
              </v-row>
              <v-row no-gutters>
                <v-col>Total +/- latentes: <span
                    :style="getPvStyle(capitalGains.pvlatentes)">{{capitalGains.pvlatentes}}</span>
                </v-col>
                <v-col>Total +/- potentielles: <span
                    :style="getPvStyle(capitalGains.pvpotentielles)">{{capitalGains.pvpotentielles}}</span>
                </v-col>
                <v-col>Montant total: {{portfolioWarrantsTotalAmount}}</span>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col>
                  <v-data-table :headers="portfolioHeaders" :items="portfolioWarrants"
                    :sort-by="['maturitejours','sous-jacent','plage']" :sort-desc="[false,false, true, false]"
                    :footer-props="{'items-per-page-options': [-1,50,100]}" multi-sort dense group-by="maturitejours"
                    class="elevation-1" mobile-breakpoint="100">
                    <template v-slot:item.isin="{item}">
                      <a :href="bourso(item)" target="_blank">{{item.isin.substring(0,6)}}<br
                          class="hidden-lg-and-up">{{item.isin.substring(6)}}</a>
                    </template>
                    <template v-slot:item.bornes="{item}">
                      {{item.bornebasse}} {{item.bornehaute}}
                    </template>
                    <template v-slot:item.perfmin="{item}">
                      <span :style="getPerfStyle(item.perfmin)">{{item.perfmin}}</span>
                    </template>
                    <template v-slot:item.perfmax="{item}">
                      <span :style="getPerfStyle(item.perfmax)">{{item.perfmax}}</span>
                    </template>
                    <template v-slot:item.pvlatentes="{item}">
                      <span :style="getPvStyle(item.pvlatentes)">{{item.pvlatentes}}</span>
                    </template>
                    <template v-slot:item.pvpotentielles="{item}">
                      <span :style="getPvStyle(item.pvpotentielles)">{{item.pvpotentielles}}</span>
                    </template>
                    <template v-slot:group.header="{items, isOpen, toggle}">
                      <th class="group-maturite-jours" colspan="4">
                        <span class="hidden-lg-and-up">{{portfolioHeaders[5].text}}: {{ items[0].maturitejours }} jours
                          <br></span>Montant: {{sumWarrants(items[0].maturitejours)}}
                      </th>
                      <th class="group-maturite-jours hidden-md-and-down">
                        {{ items[0].maturitejours }} jours
                      </th>
                      <th colspan="1"></th>
                      <!-- bornes -->
                      <th class="hidden-md-and-down" colspan="2"></th>
                      <th class="group-maturite-jours">
                        {{sumCol(items[0].maturitejours,warrant => warrant.quantite,0)}}
                      </th>
                      <th colspan="2"></th>
                      <th class="group-maturite-jours"><span
                          :style="getPvStyle(sumCol(items[0].maturitejours,warrant => warrant.pvlatentes,2))">
                          {{sumCol(items[0].maturitejours,warrant => warrant.pvlatentes,2)}}</span>
                      </th>
                      <th class="hidden-md-and-down"></th>
                      <th class="group-maturite-jours hidden-md-and-down"><span
                          :style="getPvStyle(sumCol(items[0].maturitejours,warrant => warrant.pvpotentielles,2))">
                          {{sumCol(items[0].maturitejours,warrant => warrant.pvpotentielles,2)}}</span>
                      </th>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
          <v-tab-item key="debug">
            <v-container>
              <v-row no-gutters>
                <v-col>
                  <h1 class="text-subtitle-1">
                    <v-icon color="gray darken-2">mdi-clock-remove-outline</v-icon>&nbsp;Par Date
                  </h1>
                  <v-chip-group label="Semaine" v-model="dates" class="day-links">
                    <v-chip link v-for="(date, index) in dates" :value="date" :key="index">
                      <a :href="'index.html'+index==0?'':'?date='+date.string">
                        {{date.string}}
                      </a>
                    </v-chip>
                  </v-chip-group>
                  <h1 class="text-subtitle-1">
                    <v-icon color="gray darken-2">mdi-credit-card-clock</v-icon>&nbsp;Par date avec compte titres
                  </h1>
                  <v-chip-group label="Semaine" v-model="dates" class="day-links">
                    <v-chip link v-for="(date, index) in dates" :value="date" :key="index">
                      <a :href="'index.html?'+(index==0?'':'date='+date.string+'&')+'portfolio='+portfoliocodes(false)">
                        {{date.string}}
                      </a>
                    </v-chip>
                  </v-chip-group>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <h1 class="text-subtitle-1">
                    <v-icon color="gray darken-2">mdi-credit-card-refresh</v-icon>&nbsp;Import du compte titres
                  </h1>
                  <v-textarea v-model="boursoPortfolio" label="Texte copier/coller"></v-textarea>
                  <v-btn @click="extractPortfolioFromText">Importer les valeurs</v-btn>
                  <v-file-input hide-input accept=".csv,.txt" label="Export des positions au format csv"
                    v-model="chosenFile" @change="loadPortfolio" style="display: inline-block;">
                  </v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
        </v-tabs>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
  <script src="stabilitywarrants.js"></script>


</body>

</html>